.discount__container {
  position: relative;
  max-width: 1214px;
  margin-bottom: 216px;
  padding: 64px 0 61px 66px;

  background-color: #6C5FBC;
  background-image: url(../images/discount/discount-bg.png);
  background-position: left;
  border-radius: 30px;
}

.discount__img {
  position: absolute;
  top: 64px;
  right: 72px;
}

.discount__title {
  margin-bottom: 34px;
  font-family: "Poppins ExtraBold", sans-serif;
  font-size: 70px;
  line-height: 1;
  color: #FFFFFF;
  opacity: 0.8;
}

.discount__form {
  position: relative;
  width: 440px;
}

.discount__input {
  width: 100%;
  padding: 22px 100px 22px 22px;
  border-radius: 14px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);

  font-family: "Poppins Regular", sans-serif;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 3%;
  color: #878787;
}

.discount__input:focus {
  border: 1px solid transparent;
  outline: none;
}

.discount__form-button {
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  padding: 0 20px;
  background-color: #6C5FBC;
  border: none;
  border-radius: 11px;
  font-size: 16px;
  cursor: pointer;

  font-family: "Poppins Medium", sans-serif;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 3%;
  color: #F7F8FA;
  text-transform: uppercase;
}

@media (max-width: 892px) {
  .discount__container {
    padding: 35px 27px 95px 27px;
  }

  .discount__title {
    font-size: 41px;
    text-align: center;
  }

  .discount__form {
    width: 100%;
  }
  .discount__input {
    font-size: 11px;
  }

  .discount__form-button {
    font-size: 9px;
  }

  .discount__img  {
    max-width: 160px;
    height: auto;
    top: 75%;
    left: 28%;
  }
}