.dishes {
  margin-bottom: 85px;
}

.dishes__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 21px;

  margin-bottom: 60px;
}

.dishes_item {
  overflow: hidden;

  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 5.95px 71.35px 35.67px 0 rgba(229, 229, 229, 0.7);

  transition: transform 0.3s ease;
}

.dishes_item:hover {
  transform: scale(1.1);
}

.dishes-card__image {
  width: 121px;
  height: auto;
}

.dishes__title {
  margin: 0 0 75px 0;

  text-align: center;
}

.dishes-card {
  position: relative;

  width: 146px;

  padding-top: 17px;
}

.dishes-card__image {
  display: block;

  margin: 0 auto;
}

.dishes-card__bottom {
  position: relative;

  padding: 0 18px 20px 15px;
}

.dishes-card__badge {
  margin-bottom: 10px;

  font-size: 7px;
  line-height: 1;
}

.dishes-card__title {
  margin-bottom: 5px;

  font-size: 15px;
}

.dishes-card__meta {
  margin-bottom: 5px;

  font-family: "Manrope Regular", sans-serif;
  font-size: 11px;
  line-height: 1.35;
  color: #8E97A6;
} 

.dishes-card__price {
  display: flex;

  font-family: "Manrope Bold", sans-serif;
}

.dishes-card__num {
  font-size: 17px;
  line-height: 1.54;
  color: #323142;
}

.dishes-card__cent {
  font-size: 12px;
  line-height: 2.11;
  color: #8E97A6;
}

.dishes-card__btn {
  margin-left: auto;
}

.dishes-card__svg {
  width: 100%;
  height: auto;
}

.dishes-card__like {
  position: absolute;
  top: 17px;
  right: 15px;
}
