.footer {
  position: relative;
  background-color: #EAEAEA;
}

.footer__top {
  display: flex;
  justify-content: space-between;

  padding-top: 96px;
  padding-bottom: 29px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.8);
}

.footer__list {
  display: flex;
  align-items: center;
  gap: 70px;
}

.footer__link {
  font-family: "Inter Medium", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #999999;
}

.footer__link:hover {
  color: #6C5FBC;
}

.footer__bottom {
  padding-top: 57px;
  padding-bottom: 81px;

  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-family: "Inter Medium", sans-serif;
  font-size: 17px;
  line-height: 1.5;
  color: #999999;
}

.footer__social {
  display: flex;
  gap: 54px;
}

.social-icon {
  color: #081420;
}

.social-icon:hover {
  color: #5146a6;
}

@media (max-width: 892px) {
  .footer__top {
    flex-direction: column;
    justify-content: left ;
    gap: 53px;
    padding-top: 55px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer__list {
    flex-direction: column;
    gap: 30px;
    align-items: start;
  }

  .footer__social {
    position: absolute;
    top: 12%;
    right: 30px;
    gap: 20px;
  }

  .social-icon__svg {
    width: 16px;
  }
}