.footer {
  position: relative;

  background-color: #EAEAEA;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
    "logo social"
    "menu menu"
    "copyright copyright";

  width: 100%;

  padding-top: 55px;
}

.footer__top {
  display: flex;
  justify-content: space-between;

  padding-top: 96px;
  padding-bottom: 29px;

  border-bottom: 1px solid rgba(129, 129, 129, 0.8);
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-bottom: 32px;
  padding-top: 53px;
}

.footer__link {
  font-family: "Inter Medium", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #606060;
}

.footer__link:hover {
  color: #6C5FBC;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;

  padding-top: 57px;
  padding-bottom: 81px;
}

.footer__copyright {
  padding: 26px 0 36px;

  text-align: center;
  border-top: 1px solid #CBCBCB;
}

.footer__copyright-text {
  font-family: "Inter Medium", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #999;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
}

.social-icon {
  color: #081420;
}

.social-icon:hover {
  color: #5146a6;
}

.footer__logo {
  grid-area: logo;
}

.footer__social {
  grid-area: social;
}

.footer__menu {
  grid-area: menu;
}

.footer__copyright {
  grid-area: copyright;
}
