.header {
  position: sticky;
  top: 0;
  z-index: 9999;

  margin-bottom: 57px;

  background-color: #F9F9F9;
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 33px 0 30px;

  border-bottom: 1px solid #CBCBCB;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;

  background: black;

  border-radius: 2px;

  transition: 0.3s;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;

  width: 60%;

  padding: 33px 10px;

  background-color: #f7f5f5;
  border-right: 2px solid #b5b5b5;

  transform: translateX(100%);
  transition: 
    transform 0.4s ease,
    opacity 0.3s ease;
}

#burger-toggle:checked + .burger + .menu {
  transform: translateX(0);
}

#burger-toggle:checked + .burger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
#burger-toggle:checked + .burger span:nth-child(2) {
  opacity: 0;
}
#burger-toggle:checked + .burger span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu__btn-close {
  position: relative;
  left: 80%;

  width: 40px;
  height: 40px;

  margin-bottom: 10px;

  color: #333;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 10px;
}

.menu__link {
  font-family: "Inter Medium", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #606060;
}

.menu__link:hover {
  color: #6C5FBC
}

.header__actions {
  display: none;
}

#burger-toggle {
  display: none;
}
