body {
  background-color: #F9F9F9;
}

.container {
  max-width: 1250px;

  margin: 0 auto;
  padding: 0 15px;
}

.container--padding {
  padding: 100px 0 120px 0;
  border-bottom: 1px solid #CBCBCB;
}

.button {
  display: flex;
  gap: 15px;

  padding: 18px 27px;

  border-radius: 18px;
  border: 1.5px solid #6C5FBC;

  font-family: "Inter Bold", sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.button:hover {
  cursor: pointer;

  background-color: transparent;
  
  color: #6C5FBC;

  transition: all 0.3s ease;
}

.button--filled {
  background-color: #6C5FBC;
  color: #F9F9F9;
}

.button--outlined {
  color: #6C5FBC;
}

.highlight {
  color: #5C4EAE;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0 auto;

  background-color: #F9F9F9;
}

.header__body {
  display: flex;
  align-items: center;
  gap: 103px;

  padding-top: 48px;
  padding-bottom: 25px;

  border-bottom: 1px solid #CBCBCB;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
}

.logo__text {
  font-family: "Poppins SemiBold", sans-serif;
  font-size: 21.18px;
  line-height: 130%;
  color: #6C5FBC;
}

.menu__list {
  display: flex;
  gap: 53px;
}

.menu__link {
  font-family: "Inter Medium", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #606060;
}

.menu__link:hover {
  color: #6C5FBC;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: auto;
}

.header__login {
  font-family: "Inter Bold", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #606060;
}

.main {
  width: 100%;
  margin: 0 auto;
}

.hero {
  padding-top: 49px;
  margin-bottom: 85px;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__description {
  flex: 1 1 49%;
}

.hero__content {
  margin-bottom: 53px;
}

.hero__subtitle {
  position: relative;
  padding-left: 74px;
  margin-bottom: 18px;

  font-family: "Poppins SemiBold", sans-serif;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  color: rgba(32, 31, 31, 0.2);
  text-transform: uppercase;
}

.hero__subtitle::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  width: 54px;
  height: 1px;
  background-color: rgba(32, 31, 31, 0.2);
}

.hero__title {
  margin-bottom: 18px;

  font-family: "Poppins SemiBold", sans-serif;
  font-size: 75px;
  line-height: 120%;
  letter-spacing: -3px;
  color: #201F1F;
}

.hero__text {
  max-width: 500px;

  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #676767;

  text-align: justify;
}

.hero__actions {
  display: flex;
  gap: 18px;

  margin-bottom: 33px;
}

.hero__rate {
  display: flex;
  align-items: end;
  gap: 20px;
}

.rate__stars {
  display: flex;
  align-items: center;
  gap: 9px;
}

.rate__count {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #334155;
  opacity: 0.7;
}

.hero__visual {
  position: relative;
  width: 680px;
  height: 607px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__image {
  max-width: 422px;
  max-height: 424px;
}

.hero__visual::after {
  width: 101px;
  height: 97px;

  position: absolute;
  top: 135px;
  right: 70px;
  z-index: -1;

  background-image: url('../images/hero/arrow.png');
  background-repeat: no-repeat;

  content: "";
}

.hero__dish-card {
  width: 54%;

  position: absolute;
  top: 30px;
  right: 0;

  z-index: 1;
}

.dish-card {
  display: flex;
  align-items: center;
  padding: 5px 15px;

  border-radius: 16px;
  background-color: #ffffff;

  box-shadow: -10px 12px 20px rgb(0, 0, 0, 0.15);
}

.hero__dish-card::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 28px;
  background-image: url('../images/hero/illustration.png');
  background-repeat: no-repeat;
  top: -36px;
  right: 0;
}

.dish-card__image {
  margin-right: 18px;
}

.dish-card__container {
  width: 100%;
}

.dish-card__title {
  margin-bottom: 4px;

  font-family: "Poppins SemiBold", sans-serif;
  font-size: 19px;
  line-height: 140%;
  color: #323142;
}

.dish-card__status {
  font-family: "Poppins Medium", sans-serif;
  font-size: 12px;
  line-height: 140%;
  color: #323142;
}

.dish-card__time {
  display: block;
  text-align: right;
  font-family: "Poppins Medium", sans-serif;
  font-size: 13px;
  line-height: 140%;
  color: #ACADB9;
}

.hero__graph-card {
  width: 54%;

  position: absolute;
  bottom: -20px;
  left: 8px;

  z-index: 1;
}

.graph-card {
  padding: 11px 0;
}

.hero__graph-card::after {
  width: 101px;
  height: 97px;

  position: absolute;
  bottom: -27px;
  left: -13px;

  background-image: url('../images/hero/illustration-b.png');
  background-repeat: no-repeat;

  content: "";
}

.features {
  position: relative;
  padding: 49px 0;
  width: 100%;

  background-color: #5C4EAE;
}

.features__list {
  display: flex;
  justify-content: center;
}

.features__item {
  flex: 1;

  padding: 0 66px;

  text-align: center;
}

.features__item:not(:last-child) {
  border-right: 1px solid rgba(197, 197, 197, 0.15);
}

.features__num {
  font-family: "Public Sans", sans-serif;
  font-size: 43px;
  line-height: 54px;
  color: #FFFFFF;
}

.features__description {
  font-family: "Inter Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #C5BFED;
}

.features__decor {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.features__decor-svg {
  position: absolute;
}

.features__decor-svg:nth-child(3),
.features__decor-svg:nth-child(4) {
  top: 0;
  right: 0;
}

.mobile {
  background-color: #F9F9F9;
  position: relative;
  z-index: 1;
}

.mobile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 220px;

  padding-top: 103px;
  padding-bottom: 100px;

  border-bottom: 1px solid #CBCBCB;
}

.mobile__visual {
  display: flex;
  justify-content: center;
  flex: 1;
}

.mobile__image {
  position: relative;
  width: 304px;
}

.mobile__image::after {
  position: absolute;
  top: -25px;
  right: -67px;

  width: 52px;
  height: 62px;

  background-image: url('../images/mobile/illustration-mobile.png');
  background-repeat: no-repeat;

  content: "";
}

.mobile__content {
  position: relative;
  flex: 1;
}

.mobile__content::after {
  position: absolute;
  left: 160px;

  width: 40%;
  height: 40%;

  background-image: url('../images/mobile/arrow-left.png');
  background-repeat: no-repeat;

  content: "";
}

.mobile__title {
  margin-bottom: 63px;

  font-family: "Poppins Bold", sans-serif;
  font-size: 51px;
  line-height: 58px;
  color: gray/900;
}

.mobile__list {
  margin-bottom: 61px;

  list-style: disc;
}

.mobile__item {
  margin-bottom: 28px;

  font-family: "Inter Regular", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #676767;
}

.restaurants__title {
  margin: 0 0 86px 0;
  font-size: 45px;
  line-height: 25px;
  text-align: center;
}

.title {
  font-family: "Poppins SemiBold", sans-serif;
  color: #323142;
}

.top__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.top__item {
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 5.95px 71.35px 35.67px 0 rgba(229, 229, 229, 0.7);

  transition: transform 0.3s ease;
  overflow: hidden
}

.top__item:hover {
  transform: scale(1.1);
}

.restaurant-card__badge {
  font-family: "Poppins Regular", sans-serif;
  font-size: 13px;
  line-height: 100%;
}

.badge {
  width: fit-content;
  padding: 3px 8px;
  border-radius: 6px;
}

.badge--red {
  background-color: #F7C5BA;
  color: #FB471D;
}

.badge--yellow {
  background-color: #F7EDD0;
  color: #DAA31A;
}

.badge--green {
  background-color: #b9f0d0 ;
  color: #309D5B;
}

.restaurant-card__title {
  font-size: 26px;
  line-height: 42px;
}

.restaurant-card__bottom {
  display: flex;
  padding: 11px 27px 18px 32px;
  align-items: end;
}

.restaurant-card__meta {
  display: flex;
  gap: 38px;

  font-family: "Manrope Regular", sans-serif;
  font-size: 19px;
  line-height: 26px;
  color: #8E97A6;
}

.restaurant-card__rating {
  display: block;
  position: relative;
}

.restaurant-card__rating::before {
  position: absolute;
  top: 4px;
  left: -25px;
  width: 18px;
  height: 18px;

  background-image: url("../images/common/star-purpule.png");
  background-repeat: no-repeat;
  background-position: center;

  content: "";
}

.restaurant-card__bookmark {
  display: flex;
  align-items: end;
  margin-left: auto;

  width: 40px;
  height: 40px;
}

.view-btn {
  padding-top: 65px;
  text-align: right;
}

.view-btn__link {
  font-family: "Poppins Medium", sans-serif;
  font-size: 20px;
  line-height: 45px;
  color: #ACADB9;
}

.view-btn__arrow {
  margin-left: 20px;
  position: relative;
  top: 2px;
}

.dishes__title {
  margin: 0 0 75px 0;
  font-size: 45px;
  line-height: 25px;
  text-align: center;
}

.dishes-card {
  position: relative;
  padding: 26px 17px 14px 0;
}

.dishes-card__bottom {
  position: relative;
  top: -15px;
  padding: 0 0 0 23px;
}

.dishes-card__badge {
  font-size: 12px;
  line-height: 100%;
}

.dishes-card__title {
  font-size: 23px;
}

.dishes-card__meta {
  margin-bottom: 13px;

  font-family: "Manrope Regular", sans-serif;
  font-size: 17px;
  line-height: 23px;
  color: #8E97A6;
} 

.dishes-card__price {
  display: flex;
  align-items: center;

  font-family: "Manrope Bold", sans-serif;
  line-height: 40px;
}

.dishes-card__num {
  font-size: 26px;
  color: #323142;
}

.dishes-card__cent {
  font-size: 19px;
  color: #8E97A6;
}

.dishes-card__btn {
  margin-left: auto;
}

.dishes-card__like {
  position: absolute;
  top: 22px;
  right: 20px;
}

.purchases__container {
  display: flex;
  justify-content: space-between;
}

.purchases__header {
  max-width: 560px;
}

.purshases__title {
  margin-bottom: 48px;

  font-family: "Poppins Bold", sans-serif;
  font-size: 50px;
  line-height: 58px;
}

.purchses__list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 345px;
}

.purshases__dashboard {
  max-width: 534px;
  height: auto;

  padding: 45px 37px;

  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 5.95px 71.35px 35.67px 0 rgba(229, 229, 229, 0.7);

  color: #1A202C;
}

.purshases__dashboard-header {
  position: relative;

  margin-bottom: 38px;

  display: flex;
  justify-content: space-between;
}

.purchases__dashboard-title {
  font-family: "Manrope ExtraBold", sans-serif;
  font-size: 28px;
  line-height: 135%;
}

.purshases__select {
  padding: 13px 50px 13px 19px;

  background-color: #FAFAFA;

  border-style: none;
  border-radius: 13px;

  font-family: "Manrope SemiBold", sans-serif;
  font-size: 19px;
  line-height: 150%;
}

.select-arrow {
  position: absolute;
  right: 19px;
  top: 15px;
}

.stat-card {
  min-width: 458px;
  padding: 25px;

  border: 1.57px solid #EDF2F7;
  border-radius: 19px;
}

.stat-card__header {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.stat-card__text {
  margin-left: 19px;
}

.stat-card__title {
  font-family: "Manrope ExtraBold", sans-serif;
  font-size: 19px;
  line-height: 150%;
  color: #1A202C;
}

.stat-card__change {
  font-family: "Manrope Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #A0AEC0;
}

.stat-card__value {
  margin-left: auto;

  font-family: "Manrope Medium", sans-serif;
  font-size: 22px;
  line-height: 150%;
  color: #1A202C;
}

.stat-card__progress {
  height: 10px;
  border-radius: 78px;
}

.stat-card__progress-expense {
  background-color: #E1DFF1;
}

.stat-card__progress-vocher {
  background-color: #FFEED6;
}

.stat-card__fill {
  width: 73%;
  height: inherit;
  border-radius: inherit;
}

.stat-card__fill-expense {
  width: 73%;
  background-color: #6C5FBC;
}


.stat-card__fill-vocher {
  width: 60%;
  background-color: #FBAD18;
}

.review__title {
  display: block;
  margin-bottom: 80px;
  font-size: 45px;
  line-height: 1.15;

  text-align: center;
}

.review__container {
  overflow: visible;
}

.review-slider {
  width: 100%;
}

.review-slider__viewport {
  width: 100%;
  overflow: hidden;
}

.review-slider__track {
  display: flex;
  align-items: flex-start;
  gap: 46px;
  padding: 0 19px 182px 19px;
}

.review-slider__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 667px;
  height: 346px;
  overflow: hidden;
}

.review-slider__right-viewport {
  flex: 1 1 auto;
  overflow: hidden;
}

.review-slider__right-track {
  display: flex;
  align-items: center;
  gap: 46px;
  margin-bottom: 88px;
}

.review-card {
  flex: 0 0 auto;
  padding: 38px 43px;

  background-color: #FFFFFF;
  border-radius: 20px;

  box-shadow: 5.95px 40px 40px rgba(229, 229, 229, 0.7);
}

.review-card--large {
  width: 528px;
  height: 346px;
}

.review-card--small {
  width: 528px;
  height: 239px;
}

.review-card__header {
  display: flex;
  align-items: center;
  gap: 0;
  margin-bottom: 32px;
}

.review-card__avatar {
  flex-shrink: 0;
  width: 71px;
  height: 71px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.review-card__user {
  display: flex;
  flex-direction: column;
}

.review-card__name {
  font-family: "Poppins Medium", sans-serif;
  font-size: 21px;
  line-height: 31px;
  color: #030314;
}

.review-card__since {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #5E5D5D;
}

.review-card__quote {
  flex-shrink: 0;
  margin-left: auto;
}

.review-card__text {
  margin-bottom: 24px;

  font-family: "Poppins Regular", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #969696;
  text-align: justify;
  font-style: oblique;
}

.review-card__stars {
  display: flex;
  gap: 8px;
}

.review-card__star {
  width: 22px;
  height: 22px;
}

.review-slider__scrollbar {
  width: 98%;
  height: 11px;

  border-radius: 999px;
  background-color: #E4E4E4;

  overflow: hidden;
}

.review-slider__scrollbar-fill {
  width: 45%;
  height: 100%;

  background-color: #6C5FBC;
  border-radius: inherit;
}
