body {
  background-color: #F9F9F9;
}

.container {
  max-width: 1250px;

  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: flex;
  gap: 15px;

  padding: 18px 27px;

  border-radius: 18px;
  border: 1.5px solid #6C5FBC;

  font-family: "Inter Bold", sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.button:hover {
  cursor: pointer;

  background-color: transparent;
  
  color: #6C5FBC;

  transition: all 0.3s ease;
}

.button--filled {
  background-color: #6C5FBC;
  color: #F9F9F9;
}

.button--outlined {
  color: #6C5FBC;
}

.highlight {
  color: #5C4EAE;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0 auto;

  background-color: #F9F9F9;
}

.header__body {
  display: flex;
  align-items: center;
  gap: 103px;

  padding-top: 48px;
  padding-bottom: 25px;

  border-bottom: 1px solid #CBCBCB;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
}

.logo__text {
  font-family: "Poppins SemiBold", sans-serif;
  font-size: 21.18px;
  line-height: 130%;
  color: #6C5FBC;
}

.menu__list {
  display: flex;
  gap: 53px;
}

.menu__link {
  font-family: "Inter Medium", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #606060;
}

.menu__link:hover {
  color: #6C5FBC;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: auto;
}

.header__login {
  font-family: "Inter Bold", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #606060;
}

.main {
  width: 100%;
  margin: 0 auto;
}

.hero {
  padding-top: 49px;
  margin-bottom: 85px;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__description {
  flex: 1 1 49%;
}

.hero__content {
  margin-bottom: 53px;
}

.hero__subtitle {
  position: relative;
  padding-left: 74px;
  margin-bottom: 18px;

  font-family: "Poppins SemiBold", sans-serif;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  color: rgba(32, 31, 31, 0.2);
  text-transform: uppercase;
}

.hero__subtitle::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  width: 54px;
  height: 1px;
  background-color: rgba(32, 31, 31, 0.2);
}

.hero__title {
  margin-bottom: 18px;

  font-family: "Poppins SemiBold", sans-serif;
  font-size: 75px;
  line-height: 120%;
  letter-spacing: -3px;
  color: #201F1F;
}

.hero__text {
  max-width: 500px;

  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #676767;

  text-align: justify;
}

.hero__actions {
  display: flex;
  gap: 18px;

  margin-bottom: 33px;
}

.hero__rate {
  display: flex;
  align-items: end;
  gap: 20px;
}

.rate__stars {
  display: flex;
  align-items: center;
  gap: 9px;
}

.rate__count {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #334155;
  opacity: 0.7;
}

.hero__visual {
  position: relative;
  width: 680px;
  height: 607px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__image {
  max-width: 422px;
  max-height: 424px;
}

.hero__visual::after {
  width: 101px;
  height: 97px;

  position: absolute;
  top: 135px;
  right: 70px;
  z-index: -1;

  background-image: url('../images/arrow.png');
  background-repeat: no-repeat;

  content: "";
}

.hero__dish-card {
  width: 54%;

  position: absolute;
  top: 30px;
  right: 0;

  z-index: 1;
}

.dish-card {
  display: flex;
  align-items: center;
  padding: 5px 15px;

  border-radius: 16px;
  background-color: #ffffff;

  box-shadow: -10px 12px 20px rgb(0, 0, 0, 0.15);
}

.dish-card::after {
  content: "";
  position: absolute;
  width: 42px;
  height: 28px;
  background-image: url('../images/illustration.png');
  background-repeat: no-repeat;
  top: -36px;
  left: 100%;
}

.dish-card__image {
  margin-right: 18px;
}

.dish-card__container {
  width: 100%;
}

.dish-card__title {
  font-family: "Poppins SemiBold", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #323142;
}

.dish-card__status {
  font-family: "Poppins Medium", sans-serif;
  font-size: 10px;
  line-height: 140%;
  color: #323142;
}

.dish-card__time {
  display: block;
  text-align: right;
  font-family: "Poppins Medium", sans-serif;
  font-size: 11px;
  line-height: 140%;
  color: #ACADB9;
}

.hero__graph-card {
  width: 54%;

  position: absolute;
  bottom: -20px;
  left: 8px;

  z-index: 1;
}

.graph-card {
  padding: 11px 0;
}

.hero__graph-card::after {
  width: 101px;
  height: 97px;

  position: absolute;
  bottom: -27px;
  left: -13px;

  background-image: url('../images/illustration-b.png');
  background-repeat: no-repeat;

  content: "";
}

.features {
  position: relative;
  padding: 49px 0;

  background-color: #5C4EAE;
}

.features__list {
  display: flex;
  justify-content: center;
}

.features__item {
  flex: 1;

  padding: 0 66px;

  text-align: center;
}

.features__item:not(:last-child) {
  border-right: 1px solid rgba(197, 197, 197, 0.15);
}

.features__num {
  font-family: "Public Sans", sans-serif;
  font-size: 43px;
  line-height: 54px;
  color: #FFFFFF;
}

.features__description {
  font-family: "Inter Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #C5BFED;
}

.features__decor {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.features__decor-svg {
  position: absolute;
}

.features__decor-svg:nth-child(3),
.features__decor-svg:nth-child(4) {
  top: 0;
  right: 0;
}

.mobile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 220px;

  padding-top: 103px;
  padding-bottom: 100px;

  border-bottom: 1px solid #CBCBCB;
}

.mobile__visual {
  display: flex;
  justify-content: center;
  flex: 1;
}

.mobile__image {
  position: relative;
  width: 304px;
}

.mobile__image::after {
  position: absolute;
  top: -25px;
  right: -67px;

  width: 52px;
  height: 62px;

  background-image: url('../images/illustration-mobile.png');
  background-repeat: no-repeat;

  content: "";
}

.mobile__content {
  position: relative;
  flex: 1;
}

.mobile__content::after {
  position: absolute;
  left: 160px;

  width: 100%;
  height: 100%;

  background-image: url('../images/arrow-left.png');
  background-repeat: no-repeat;

  content: "";
}

.mobile__title {
  margin-bottom: 63px;

  font-family: "Poppins Bold", sans-serif;
  font-size: 51px;
  line-height: 58px;
  color: gray/900;
}

.mobile__list {
  margin-bottom: 61px;

  list-style: disc;
}

.mobile__item {
  margin-bottom: 28px;

  font-family: "Inter Regular", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #676767;
}

.restaurants__container {
  padding-top: 100px;
  padding-bottom: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurants__title {
  margin-bottom: 86px;

  font-family: "Poppins SemiBold", sans-serif;
  font-size: 45px;
  line-height: 45px;
  color: #323142;
}

.restaurants__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.restaurant__card {
  display: flex;
  gap: 59 px;

  padding: 187px 27px 17px 32px;
  border-radius: 30px;

  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: top;

  box-shadow: 5.95px 71.35px 35.67px 0 rgba(229, 229, 229, 0.7);

  transition: transform 0.3s ease;
}

.restaurant__card:hover {
  transform: scale(1.1);
}

.restaurant__card--healthy {
  background-image: url("../images/restaurant-bg-1.png");
}

.restaurant__card--tranding {
  background-image: url("../images/restaurant-bg-2.png");
}

.restaurant-card__badge {
  padding: 2px 8px;
  border-radius: 6px;

  font-family: "Poppins Regular", sans-serif;
  font-size: 13px;
  line-height: 100%;
}

.restaurant-card__badge--healthy {
  background-color: #F7EDD0;
  color: #DAA31A;
}

.restaurant-card__badge--tranding {
  background-color: #F7C5BA;
  color: #FB471D;
}

.restaurant-card__title {
  font-family: "Poppins SemiBold", sans-serif;
  font-size: 26px;
  line-height: 42px;
  color: #323142;
}

.restaurant-card__meta {
  display: flex;
  gap: 39px;

  font-family: "Manrope Regular", sans-serif;
  font-size: 19px;
  line-height: 26px;
  color: #8E97A6;
}

.restaurant-card__rating {
  display: block;
  position: relative;
}

.restaurant-card__rating::before {
  position: absolute;
  top: 4px;
  left: -25px;
  width: 18px;
  height: 18px;

  background-image: url("../images/star-purpule.png");
  background-repeat: no-repeat;
  background-position: center;

  content: "";
}

.restaurant-card__bookmark {
  display: flex;
  align-items: end;

  margin-left: 58px;
}

.restaurant__view-btn {
  display: block;
  margin-left: auto;
  padding-top: 65px;

  font-family: "Poppins Medium", sans-serif;
  font-size: 20px;
  line-height: 45px;
  color: #ACADB9;
}
