body {
  background-color: #F9F9F9;
}

.container {
  max-width: 1250px;

  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 18px 27px;

  border-radius: 18px;

  font-family: "Inter Bold", sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.button--filled {
  background-color: #6C5FBC;
  color: #F9F9F9;
}

.button--outlined {
  border: 1.5px solid #6C5FBC;
  color: #6C5FBC;
}

.highlight {
  color: #5C4EAE;
}

.header__body {
  display: flex;
  align-items: center;
  gap: 103px;

  padding-top: 48px;
  padding-bottom: 25px;

  border-bottom: 1px solid #CBCBCB;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
}

.logo__text {
  font-family: "Poppins SemiBold", sans-serif;
  font-size: 21.18px;
  line-height: 130%;
  color: #6C5FBC;
}

.menu__list {
  display: flex;
  gap: 53px;
}

.menu__link {
  font-family: "Inter Medium", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #606060;
}

.header__actions {
  margin-left: auto;
}

.header__login {
  margin-right: 18px;

  font-family: "Inter Bold", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #606060;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 49px;
}

.hero__description {
  flex: 1 1 49%;
}

.hero__content {
  margin-bottom: 53px;
}

.hero__subtitle {
  position: relative;
  padding-left: 74px;
  margin-bottom: 18px;

  font-family: "Poppins SemiBold", sans-serif;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  color: rgba(32, 31, 31, 0.2);
  text-transform: uppercase;
}

.hero__subtitle::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  width: 54px;
  height: 1px;
  background-color: rgba(32, 31, 31, 0.2);
}

.hero__title {
  margin-bottom: 18px;

  font-family: "Poppins SemiBold", sans-serif;
  font-size: 75px;
  line-height: 120%;
  letter-spacing: -3px;
  color: #201F1F;
}

.hero__text {
  max-width: 500px;

  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #676767;

  text-align: justify;
}

.hero__actions {
  display: flex;
  gap: 18px;

  margin-bottom: 33px;
}

.hero__rate {
  display: flex;
  align-items: end;
  gap: 20px;
}

.rate__stars {
  display: flex;
  align-items: center;
  gap: 9px;
}

.rate__count {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #334155;
  opacity: 0.7;
}

.hero__visual {
  position: relative;
  width: 680px;
  height: 607px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__image {
  max-width: 422px;
  max-height: 424px;
}

.hero__visual::after {
  width: 101px;
  height: 97px;

  position: absolute;
  top: 135px;
  right: 70px;
  z-index: -1;

  background-image: url('../images/arrow.png');
  background-repeat: no-repeat;

  content: "";
}

.hero__dish-card {
  width: 54%;

  position: absolute;
  top: 30px;
  right: 0;

  z-index: 1;
}

.dish-card {
  display: flex;
  align-items: center;
  padding: 5px 15px;

  border-radius: 16px;
  background-color: #ffffff;
}

.dish-card::after {
  content: "";
  position: absolute;
  width: 42px;
  height: 28px;
  background-image: url('../images/illustration.png');
  background-repeat: no-repeat;
  top: -36px;
  left: 100%;
}

.dish-card__image {
  margin-right: 18px;
}

.dish-card__container {
  width: 100%;
}

.dish-card__title {
  font-family: "Poppins SemiBold", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #323142;
}

.dish-card__status {
  font-family: "Poppins Medium", sans-serif;
  font-size: 10px;
  line-height: 140%;
  color: #323142;
}

.dish-card__time {
  display: block;
  text-align: right;
  font-family: "Poppins Medium", sans-serif;
  font-size: 11px;
  line-height: 140%;
  color: #ACADB9;
}

.hero__graph-card {
  width: 54%;

  position: absolute;
  bottom: -20px;
  left: 8px;

  z-index: 1;
}

.graph-card {
  padding: 11px 0;
}

.hero__graph-card::after {
  width: 101px;
  height: 97px;

  position: absolute;
  bottom: -27px;
  left: -13px;
  /* z-index: -1; */

  background-image: url('../images/illustration-b.png');
  background-repeat: no-repeat;

  content: "";
}