.restaurants {
  margin-bottom: 85px;
}

.restaurants__title {
  display: block;

  width: 94%;

  margin: 0 auto 59px;

  text-align: center;
}

.restaurants__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  margin-bottom: 61px;
}

.restaurant__item {
  overflow: hidden;

  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 5.95px 71.35px 35.67px 0 rgba(229, 229, 229, 0.7);

  transition: transform 0.3s ease;
}

.restaurant__item:hover {
  transform: scale(1.1);
}

.restaurant-card__image {
  display: block;

  max-width: 100%;
  height: auto;
}

.restaurant-card__badge {
  font-family: "Poppins Regular", sans-serif;
  font-size: 10px;
  line-height: 1;
}

.badge {
  width: fit-content;

  padding: 3px 8px;

  border-radius: 6px;
}

.badge--red {
  color: #FB471D;

  background-color: #F7C5BA;
}

.badge--yellow {
  color: #DAA31A;

  background-color: #F7EDD0;
}

.badge--green {
  color: #309D5B;

  background-color: #b9f0d0 ;
}

.restaurant-card__title {
  font-size: 20px;
  line-height: 1.6;
}

.restaurant-card__bottom {
  padding: 9px 22px 14px 26px;
}

.restaurant-card__meta {
  display: flex;
  gap: 38px;

  font-family: "Manrope Regular", sans-serif;
  font-size: 15px;
  line-height: 1.37;
  color: #8E97A6;
}

.restaurant-card__rating {
  position: relative;

  display: block;
}

.restaurant-card__rating::before {
  content: "";

  position: absolute;
  top: 4px;
  left: -25px;

  width: 14px;
  height: 14px;

  background-image: url("src/images/common/star-purpule-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
}

.restaurant-card__bookmark {
  display: flex;
  align-items: end;

  width: 32px;
  height: 32px;

  margin-left: auto;
}
