.review__title {
  display: block;
  margin-bottom: 80px;
  font-size: 45px;
  line-height: 1.15;

  text-align: center;
}

.review__container {
  overflow: visible;
}

.review-slider {
  width: 100%;
}

.review-slider__viewport {
  width: 100%;
  overflow: hidden;
}

.review-slider__track {
  display: flex;
  align-items: flex-start;
  gap: 46px;
  padding: 0 19px 182px 19px;
}

.review-slider__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 667px;
  height: 346px;
  overflow: hidden;
}

.review-slider__right-viewport {
  flex: 1 1 auto;
  overflow: hidden;
}

.review-slider__right-track {
  display: flex;
  align-items: center;
  gap: 46px;
  margin-bottom: 88px;
}

.review-card {
  flex: 0 0 auto;
  padding: 38px 43px;

  background-color: #FFFFFF;
  border-radius: 20px;

  box-shadow: 5.95px 40px 40px rgba(229, 229, 229, 0.7);
}

.review-card--large {
  width: 528px;
  height: 346px;
}

.review-card--small {
  width: 528px;
  height: 239px;
}

.review-card__header {
  display: flex;
  align-items: center;
  gap: 0;
  margin-bottom: 32px;
}

.review-card__avatar {
  flex-shrink: 0;
  width: 71px;
  height: 71px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.review-card__user {
  display: flex;
  flex-direction: column;
}

.review-card__name {
  font-family: "Poppins Medium", sans-serif;
  font-size: 21px;
  line-height: 31px;
  color: #030314;
}

.review-card__since {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #5E5D5D;
}

.review-card__quote {
  flex-shrink: 0;
  margin-left: auto;
}

.review-card__text {
  margin-bottom: 24px;

  font-family: "Poppins Regular", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #969696;
  text-align: justify;
  font-style: oblique;
}

.review-card__stars {
  display: flex;
  gap: 8px;
}

.review-card__star {
  width: 22px;
  height: 22px;
}

.review-slider__scrollbar {
  width: 98%;
  height: 11px;

  border-radius: 999px;
  background-color: #E4E4E4;

  overflow: hidden;
}

.review-slider__scrollbar-fill {
  width: 45%;
  height: 100%;

  background-color: #6C5FBC;
  border-radius: inherit;
}